.material-button
  display: inline-flex
  align-items: center
  outline: 0
  font-family: "Roboto", sans-serif
  cursor: pointer

  &--raised
    height: 32px
    margin: 10px 16px 10px 0
    padding: 0 16px
    transition: background-color .2s ease-in-out
    border: 0
    border-radius: 2px
    background: $main-color
    color: $button-raised-text
    font-size: 14px
    font-weight: 500
    line-height: 32px
    text-transform: uppercase
    box-shadow: $button-raised-box-shadow
    cursor: pointer

    &:focus
      background: mix($button-raised-focus-accent, $main-color, 25%)

  &--flat
    min-width: 88px
    height: 32px
    padding: 0 8px
    transition: background-color .1s ease-in-out
    border: 0
    border-radius: 2px
    outline: 0
    background: none
    color: $main-color
    font-size: 14px
    font-weight: 500
    line-height: 32px
    text-transform: uppercase
    cursor: pointer
    appearance: none

    &:active
      background: $button-flat-active

    &:focus
      background: $button-flat-focus

  &--submit
    margin-top: 0

    &.remove
      background: $error-color

      &:focus
        background: $button-error-focus
