header.app-bar
  display: flex
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 56px
  padding: 0
  background: $main-color
  color: $header-text
  box-shadow: $header-box-shadow
  z-index: 1
  box-sizing: border-box
  user-select: none

  i
    color: $header-text

  button, a
    position: relative
    margin: 0
    padding: 0
    border: 0
    background: none
    appearance: none

    &:active
      i.material-icons
        &::before
          opacity: 1

    i.material-icons
      &::before
        display: block
        position: absolute
        top: 50%
        left: 50%
        width: 24px
        height: 24px
        padding: 8px
        transform: translate(-50%, -50%)
        transition: opacity .2s ease-in-out
        border-radius: 50%
        background: $blink-white
        content: ""
        opacity: 0

    &#menu, &#back
      i
        margin: 16px
        float: left
        cursor: pointer

    &#filter, &#edit
      i
        margin: 16px 28px 16px 12px
        float: right
        cursor: pointer

        &::before
          margin-left: -8px

  .title
    flex: 1
    line-height: 56px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
